<div class = "jumbotron">
    <h1> Apie projektą </h1>
    <div class="col-xs-6 col-md-3">
    <a href="http://y.delfi.lt/norm/contest/57/204869_ha8zcf.jpeg" class="thumbnail">
        <img src="http://y.delfi.lt/norm/contest/57/204869_ha8zcf.jpeg" alt="forest" >
    </a>
        </div>
    <p>
        Lietuva yra suskirstyta į 10 apskričių, kuri kiekviena turi daugybė girininkijų, urėdijų ir sklypų.<br>
        Sistemos tikslas - glaustai atvaizduoti informaciją apie tuose regionuose augančius medžius, bet apskričių sudėtį bei statistiką.
        <br>
        Sistema atlieka paiešką ir skaičiavimus tarp beveik 40 milionų įrašų apie sklypus, juose esančius ardus ir tuose arduose augančias medžių rūšis.
        <br>
        <br>
        Sistemos autorė: Živilė Rakutytė

    </p>
    </div>