{% extends "KTUForestBundle::base.html.twig" %}
{% block main %}
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript">
        ZUV = {
            data: {
                provinces: {{ provinceRatiosJSON|raw }}
            }
        };
    </script>
    <script type='text/javascript' src="{{ asset('js/map.js') }}"></script>
    <div class="container" id="page_about" style="display:none">
        {% include 'KTUForestBundle::about.html.twig' %}
    </div>
    <div id="page_map">
        <div class="container">
            <div class="dropdown" id="foobar">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                    <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>Medžių rūšis
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Pušis">Pušis</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Drebulė">Drebulė</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Eglė">Eglė</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Maumedis">Maumedis</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Pocūgė">Pocūgė</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Ąžuolas">Ąžuolas</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Uosis">Uosis</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Klevas">Klevas</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Skroblas">Skroblas</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Guoba">Guoba</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Skirpstas">Skirpstas</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Beržas">Beržas</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Baltalksnis">Baltalksnis</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Juodalksnis">Juodalksnis</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Beržas">Beržas</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Drebulė">Drebulė</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Tuopa">Tuopa</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Liepa">Liepa</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Blindė">Blindė</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Kedras">Kedras</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Vinkšna">Vinkšna</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Bukas">Bukas</a></li>
                </ul>

            </div>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Žemėlapis<b></b></div>

                        <div id='map_canvas'></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Informacija apie medžio rūšį</div>
                        <div class="panel-body">
                            <b></b>
                            <div id="treeInfo"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Informacija apie apskritį</div>
            <div class="panel-body">
                <h3></h3>
                {% include 'KTUForestBundle::region.html.twig' %}
                <div id="treeInfo"></div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
