{% extends "KTUForestBundle::base.html.twig" %}
{% block main %}
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type="text/javascript">
        ZUV = {
            data: {
                provinces: {{ provinceRatiosJSON|raw }}
            }
        };
    </script>
    <script type='text/javascript' src="{{ asset('js/map.js') }}"></script>
    <div class="container" id="page_about" style="display:none">
        {% include 'KTUForestBundle::about.html.twig' %}
    </div>
    <div id="page_map">
        <div class="container">
            <div class="dropdown" id="foobar">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-expanded="true">
                    <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>Medžių rūšis
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Pušis">Pušis</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Drebulė">Drebulė</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#Eglė">Eglė</a></li>

                </ul>
            </div>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">Žemėlapis</div>
                        <div id='map_canvas'></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Pagrindinė savivaldybės info</div>
                        <div class="panel-body">
                            {% include 'KTUForestBundle::region.html.twig' %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class='jumbotron'>
                Daugiau info apie savivaldybę
            </div>
        </div>
    </div>
{% endblock %}
