{% extends "KTUForestBundle::base.html.twig" %}
{% block main %}

    <div class = "container">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>Medžių rūšis
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Pušis</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Drebulė</a></li>
                </ul>
            </div>
        <br>
        </div>
        <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Žemėlapis</div>
                    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
                    <script type='text/javascript'>
                        google.load('visualization', '1', {'packages': ['geomap']});
                        google.setOnLoadCallback(drawMap);

                        function drawMap() {
                            var data = google.visualization.arrayToDataTable([
                                ['City', 'Ratio', 'Label'],
                                ['LT-AL', 0.8, 'Alytus'],
                                ['LT-KU', 0.5, 'Kaunas'],
                                ['LT-KL', 0.3, 'Klaipeda'],
                            ]);

                            var options = {};
                            options['region'] = 'LT';
                            options['dataMode'] = 'regions';
                            options['resolution'] = 'provinces';

                            var container = document.getElementById('map_canvas');
                            var geomap = new google.visualization.GeoMap(container);
                            geomap.draw(data, options);
                        }
                    </script>
                <div id='map_canvas'></div>
            </div>
        </div>
        <div class="col-md-4"><div class="panel panel-default">
                <div class="panel-body">
                    Savivaldybės info
                </div>
            </div></div>
    </div>
        </div>
{% endblock %}