{% extends "KTUForestBundle::index.html.twig" %}
{% block map %}
<div class="panel panel-default">
    <div class="panel-heading">Žemėlapis</div>
    <div class="panel-body">
        <img src="http://upload.wikimedia.org/wikipedia/commons/f/f7/Savivaldybiu_konturai.png" alt="Mountain View">
    </div>
</div>
{% endblock %}