
<div class="alert alert-success" role="alert">{{ treeType }}</div>
<div class="thumbnail">
    <img src="{{ info.image }}" alt="...">
    <div class="caption">
        <p>{{ info.description }}</p>
    </div>
</div>
